*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.interest-components {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#f58a2c;
    height: 4rem;
    width: 32%;
    color: black;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    transition: transform 0.3s ease-in-out;
}

.interest-components:hover {
    transform: scale(1.05);
}

.interest-components.hidden {
    opacity: 0;
}
.interests{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
}

.icon{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;


}